*~
\#*\#
\.\#*
*.pyc
logs/
log/
ebin/
/doc/_build
/lib/*/doc/
publicator.tar.gz
*.dump
/rel/publicator
/config
/devutils/sync
.DS_Store
.eunit
.rebar
deps
/test
*.o
*.beam
*.plt
erl_crash.dump
.eunit
publicator_test
/rel/machete
/www/bower_components