%%-*- mode: erlang -*-
{sub_dirs, ["apps/machete"]}.

{erl_opts, [{parse_transform, lager_transform},
            fail_on_warning,
            debug_info
           ]}.

{deps, [{webmachine, ".*", {git, "git://github.com/basho/webmachine", {tag, "1.10.6"}}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}}
       ]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.
