%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "machete", "1",
        [
         kernel,
         stdlib,
         lager,
         meck,
         ibrowse,
         mochiweb,
         webmachine,
         goldrush,
         machete
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "machete"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, machete, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../apps/machete"}]},
       {app, webmachine, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../deps/webmachine"}]},
       {app, mochiweb, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../deps/mochiweb"}]},
       {app, ibrowse, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../deps/ibrowse"}]},
       {app, meck, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../deps/meck"}]},
       {app, lager, [{mod_cond, app}, {incl_cond, include},{lib_dir, "../deps/lager"}]},
       {app, goldrush, [{mod_cond, app}, {incl_cond, include},{lib_dir, "../deps/goldrush"}]}
      ]}.

{target_dir, "machete"}.

{overlay, [
           {mkdir, "log"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "machete/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/machete", "bin/machete"},
           {copy, "files/machete.cmd", "bin/machete.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "../www", "www"}
          ]}.
