[
%% MACHETE
 {machete, [
     {web_ip, "0.0.0.0"},
     {web_port, 8767}
 ]},

%% MNESIA
 {mnesia, [
     {dir, "mnesia"}
 ]},
 
%% LAGER
%% {lager_console_backend, debug},

{lager, [
  {handlers, [
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/warning.log"}, {level, warning}]},
    {lager_file_backend, [{file, "log/info.log"}, {level, info}]},
    {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]}
  ]}]},
 
%% SASL
{sasl, [
       {errlog_type, silent}
 ]}

        
].

