[
%% MACHETE
%% IP and PORT settings
 {machete, [
     {web_ip, "0.0.0.0"},
     {web_port, 8767}
 ]},

%% MNESIA
%% Database directory that will be used to store project data.
 {mnesia, [
     {dir, "mnesia"}
 ]},
 
%% LAGER
%% Log handler information
{lager, [
  {handlers, [
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/warning.log"}, {level, warning}]},
    {lager_file_backend, [{file, "log/info.log"}, {level, info}]},
    {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]}
  ]}]},
 
%% SASL
%% DO not change this.
{sasl, [
       {errlog_type, silent}
 ]}

        
].

